# Bosh release
config/private.yml
blobs
dev_releases
releases/*.tgz
releases/**/*.tgz
.dev_builds
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
.DS_Store
.idea
*.swp
*~
*#

# Things we shouldn't commit
bosh-creds.yml
cpi
state.json
my-settings.yml
vcap-private-key.pem
jumpbox-private-key.pem

# Related to VS Code
.vscode

# Tooling VS Code brings in for Go
bin/
pkg/
src/github.com/acroca/
src/github.com/go-delve/
src/github.com/karrick/
src/github.com/mdempsky/
src/github.com/ramya-rao-a/
src/github.com/rogpeppe/
src/github.com/sqs/
src/github.com/uudashr/
src/golang.org/
